* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover,a:active {
    text-decoration: underline;
}
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    text-align: center;
    background-color: #f5df4d;
    color: #000000;
    padding: 0 1em;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.options {
    width: 15%;
    min-width: 210px;
    text-align: left;
    background-color: #939597;
    color: #000000;
    padding: 0 1em 2em;
}
.content {
    flex-grow: 1;
    text-align: left;
    background-color: #ffffff;
    color: #000000;
    padding: 0 1em 2em;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    line-height: 1.5em;
}
input[type=number] {
    width: 3em;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#faclist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#faclist li {
    line-height: 1.5em;
    flex-grow: 1;
    flex-basis: 15em;
}
.filler {
    height: 0;
}
.colfac {
    width: 50%;
    text-align: right;
    vertical-align: middle;
}
.colcol {
    width: 50%;
    text-align: left;
    vertical-align: middle;
}
.colcol div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.square {
    height: 1em;
    width: 1em;
    margin-right: 4px;
}
.red {
    background-color: crimson;
}
.orange {
    background-color: darkorange;
}
.yellow {
    background-color: gold;
}
.green {
    background-color: green;
}
.blue {
    background-color: royalblue;
}
.purple {
    background-color: mediumpurple;
}
.pink {
    background-color: hotpink;
}
.black {
    background-color: black;
}
#colors tr {
    display: none;
}
#scores table {
    margin-right: auto;
    margin-left: auto;
}
#scores input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#scores input[type=number] {
    -moz-appearance: textfield;
}
td {
    text-align: center;
}
.scofac {
    text-align: right;
}
footer {
    padding: 1em 1em;
    text-align: right;
    background-color: #f5df4d;
    color: #000000;
}
h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 1em 0;
}
h2 {
    padding: 1em 0 0;
}
p {
    margin: 0;
}